@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.success-notification-overlay {
  background: green;
  color: white;
  margin-top: 220px !important;
  margin-left: 200px !important;
}

.error-notification-overlay {
  background: red;
  color: white;
  margin-top: 220px !important;
  margin-left: 200px !important;
}


.warning-notification-overlay {
  background: orange;
  color: white;
  margin-top: 220px !important;
  margin-left: 200px !important;
}

info-notification-overlay {
  background: blue;
  color: white;
}

.mat-select-content {
  width: 2000px !important;
  background-color: red !important;
  font-size: 10px !important;
}
